<form [formGroup]="loginForm">
    <div class="card form-control">
        <h5>LOGIN FORM</h5>
        <div class="p-field p-grid">
            <label for="firstname3" class="p-col-fixed " style="width:100px">User Name</label>
            <div class="p-col">
                <input id="email" type="text" formControlName="email" class="form-control" id='email'>
                <div *ngIf="(!loginForm.get('email')?.valid && loginForm.get('email')?.touched)" class="help-block" style="color:brown"> Please enter email... </div>

            </div>
        </div>
        <div class="p-field p-grid">
            <label for="lastname3" class="p-col-fixed" style="width:100px">Password</label>
            <div class="p-col">
                <input id="lastname3" type="text" formControlName="password" id='password'>
                <span *ngIf="(!loginForm.get('password')?.valid && loginForm.get('password')?.touched)" class="help-block" style="color:brown"> Please enter email... </span>

            </div>
        </div><br>
        <div class="p-col">
            <p-button label="Submit" (click)="login()"></p-button>&nbsp;&nbsp;
            <p-button label="New Registration" (click)="registration()"></p-button>
        </div>

    </div>
</form>