<table class="table col" border="3">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email Id</th>
            <th>Password</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>

        </tr>

    </thead>

    <tbody>
        <tr class="table">

            <td scope="row ">{{ user.First_Name}}</td>
            <td scope="row ">{{ user.Last_Name }}</td>
            <td scope="row ">{{ user.Genter}}</td>
            <td scope="row ">{{ user.Email}}</td>
            <td scope="row ">{{ user.Password}}</td>
            <td scope="row ">{{ user.Address}}</td>
            <td scope="row ">{{ user.City}}</td>
            <td scope="row ">{{ user.State}}</td>





        </tr>

    </tbody>
</table>
<div>
    <button routerLink="/first">Back</button>
</div>