<div style="float: left;">
    <div>Filter</div>
    <input type="text" pKeyFilter="int">
</div><br>
<div style="float: right;"><button routerLink="/second">ADD NEW EMPLOYEE</button></div>
<br><br><br>
<table border="3">

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email Id</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>

    </tr>


    <tr *ngFor="let em of emp">
        <td>{{ em.fields.First_Name }}</td>
        <td>{{ em.fields.Last_Name }}</td>
        <td>{{ em.fields.Genter }}</td>
        <td>{{ em.fields.Email }}</td>
        <td>{{ em.fields.Address }}</td>
        <td>{{ em.fields.City }}</td>
        <td>{{ em.fields.State }}</td>

    </tr>

    <!-- <ng-template pTemplate="body" class="table">
        <tr *ngFor="let em of emp">
            <td>{{ em.fields.First_Name }}</td>
            <td>{{ em.fields.First_Name }}</td>
            <td>{{ em.fields.First_Name }}</td>
            <td>{{ em.fields.First_Name }}</td>
            <td>{{ em.fields.First_Name }}</td>
            <td>{{ em.fields.First_Name }}</td>
            <td>{{ em.fields.First_Name }}</td>

        </tr>
    </ng-template> -->

</table>
<div>
    <button routerLink="/first">Back</button>
</div>